---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<h1 class="text-4xl font-black">Hello, motherfuckers</h1>
	<p>This is a Vim Shortcut Repository, a little site set up to record all the little Vim bindings I've found
		while learning Vim</p>

	<section>
		<h4 class="text-lg font-bold">Basic stuff</h4>
		<ul class="space-y-2">
			<li><kbd>i</kbd> to enter <em>insert</em> mode</li>
			<li><kbd>ESC</kbd> to exit <em>insert</em> or <em>visual</em> mode</li>
			<li><kbd>u</kbd> to undo</li>
			<li><kbd>CTRL+R</kbd> to redo</li>
		</ul>
	</section>

	<section>
		<h4 class="text-lg font-bold">Selection shenanigans</h4>
		<ul class="space-y-2">
			<li><kbd>v</kbd> to enter <em>visual</em> mode</li>
			<li><kbd>SHIFT+V</kbd> to enter <em>visual line</em> mode to select whole lines</li>
			<li><kbd>c</kbd> to clear the current selection and enter insert mode</li>
			<li><kbd>x</kbd> to cut the current selection and return to normal mode</li>
			<li><kbd>y</kbd> to copy (yank) the current selection and return to normal mode</li>
			<li><kbd>p</kbd> to paste the thing you last cut/copied/yanked and return to normal mode</li>
			<li><kbd>viw</kbd> to select the word under the cursor</li>
			<li><kbd>vi{</kbd> to select everything in the current block (also works for brackets:
				<kbd>vi(</kbd></li>
				</ul>
				</section>

				<section>
					<h4 class="text-lg font-bold">Navigation</h4>
					<ul class="space-y-2">
						<li><kbd>^</kbd> to go to beginning of line</li>
						<li><kbd>$</kbd> to go to end of line</li>
						<li><kbd>gg</kbd> to go to beginning of file</li>
						<li><kbd>G</kbd> to go to end of file</li>
						<li><kbd>e</kbd> to go to end of current word</li>
						<li><kbd>b</kbd> to go to beginning of current word</li>
						<li><kbd>*</kbd> to go to next instance of current word</li>
					</ul>
				</section>
</Layout>
