<!doctype html>
<html lang="en-gb">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Vim Shortcut Repository</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=instrument-sans:400,500,600"
      rel="stylesheet"
    />
  </head>
  <body
    class="transition-opacity opacity-100 duration-750 starting:opacity-0 bg-sky-900 text-white"
  >
    <div
      class="w-full lg:max-w-4xl mx-auto lg:justify-center min-h-dvh flex-col flex p-6 lg:p-8"
    >
      <header class="mb-6 p-4 -ml-12">
        <p>
          <a href="/" class="hover:text-sky-300 transition-colors duration-500"
            >VSR: Vim Shortcut Repository</a
          >
        </p>
      </header>

      <main class="flex-grow space-y-4">
        <slot />
      </main>

      <footer class="p-4 text-sm text-sky-200">
        <p class="text-center">&copy; 2025 Source Pot</p>
      </footer>
    </div>
  </body>
</html>
